$color-primory: #2A6CEA;
$color-primory-opacity: hsla(219, 82%, 54%, 0.8);
$color-primory-disabled: #ABCAE6;
$color-primory-hover: #397DFF;
$color-dangerous: #F13636;
$color-green-success: #25CD82;
$color-black: #191C1F;
$color-dark-gray: #5E646A;
$color-gray: #83898F;
$color-mid-grey: #C2C8CD;
$color-light-grey: #ECEFF2;
$color-extralight-gray: #F6F8FA;
$color-white: #ffffff;